body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFF00;
  font-family: Arial, sans-serif;
}
#calculator {
  border: 2px solid rgb(61, 164, 14);
  border-radius: 8px;
  width: 270px;  
  background-color: #171515; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

#display {
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;
  font-size: 25px;
  text-align: right; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 60px; 
  height: 60px;
  margin: 5px;
  border: none; 
  border-radius: 4px; 
  font-size: 18px; 
  background-color: #e0e0e0; 
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  transition: background-color 0.3s, box-shadow 0.3s; 
}

